# fibonacci series

In [9]:
num = int(input("enter any number :"))
n1 ,n2 = 0,1
sum = 0
if num <= 0:
    print("Please enter number greater than 0")
else:
    for i in range(0,num):
        print(sum ,end = " ")
        n1 = n2
        n2 = sum
        sum =n1 + n2

enter any number :5
0 1 1 2 3

# print the multiplication of a number n

In [10]:
i=1
while i <= 10:
    print(3*i)
    i +=1

3
6
9
12
15
18
21
24
27
30

In [11]:
# print the elements of the following list using a loop
#[1,4,9,16,25,36,49,64,81,100]



nums =[1,4,9,16,25,36,49,64,81,100]
idx = 0
while idx < len(nums):
    print(nums[idx])  #nums[0],nums[1],nums[2]...
    idx += 1

1
4
9
16
25
36
49
64
81
100

In [ ]:
#table of any number using range

In [12]:
n = int(input("enter a number : "))
for i in range(1,11):
    print(n * i)

enter a number : 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
#ODD_EVEN

In [68]:
num = int(input("enter any number :"))
if num % 2 == 0:
    print("even ")
else:
    print("odd ")

enter any number :4
even

In [ ]:
#PRIME_NUMBER

In [37]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

num = int(input("Enter a number: "))
if is_prime(num):
    print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter a number: 565455
565455 is not a prime number.

In [ ]:
num = int(input("enter any number: "))
count = 0
for i in range(1,num+1):
    if num % i == 0:
        count +=1
if count == 2:
    print(num,"is a prime number ")

# palindrome

In [42]:
word = input("enter any word :")
if word ==word[::-1]:
    print("word is palindrome")
else:
    print("word is not palindrome")

enter any word :mandeep
word is not palindrome

In [44]:
def is_palindrome(word):
    return word == word[::-1]
word = input("Enter a word: ")
if is_palindrome(word):
    print(word, "is a palindrome.")
else:
    print(word, "is not a palindrome.")

Enter a word: mom
mom is a palindrome.

In [2]:
def is_palindrome(word):
    return word == word[::-1]
user_input = input("Enter a word: ")
if is_palindrome(user_input):
    print(f"{user_input} is a palindrome!")
else:
    print(f"{user_input} is not a palindrome.")

Enter a word: mom
mom is a palindrome!

In [3]:
s = input("enter a value : ")
reverse = s [::-1]
if (s == reverse):
    print("yess it is palindrome")
else:
    print("its not palindrome")

enter a value : mom
yess it is palindrome

In [ ]:
#revere letter of a name

In [46]:
def reverse_name(name):
    reversed_name = ""
    for char in name:
        reversed_name = char + reversed_name
    return reversed_name
name = input("Enter a name: ")
reversed_name = reverse_name(name)
print("Reversed name:", reversed_name)

Enter a name: mandeep
Reversed name: peednam

In [ ]:
#reverse letter name as a list

In [52]:
def reverse_name(name):
    reversed_name = []
    for i in range(len(name) - 1, -1, -1):
        reversed_name.append(name[i])
    return ",".join(reversed_name)

name = input("Enter a name: ")
reversed_name_str = reverse_name(name)
print("Reversed name:", reversed_name_str)

Enter a name: vipul
Reversed name: l,u,p,i,v

In [ ]:
#reverse letter name as a list

In [59]:
word =input("enter any word :")
word = word[::-1]
for letter in word:
    print(letter)

enter any word :VIPUL
L
U
P
I
V

In [ ]:
#reverse letter name as a list

In [63]:
word =input("enter any word :")
word = word[::-1]
output = ",".join(word)
print(output)

enter any word :VIPUL
L,U,P,I,V

In [ ]:
#reverse letter name as a list

In [66]:
word =input("enter any word :")
word = word[::-1]
for i in range(len(word)):
    if i != len(word):
        if i !=len(word) - 1 :
            print(word[i],end=" ,")
        else:
            print(word[i])

enter any word :Mandeep
p ,e ,e ,d ,n ,a ,M

In [ ]:
# number divisible by 3

In [72]:
def num_is_divisible_by_3(num):
    if num % 3 ==0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")
user_input = int(input("enter any number ")) 
num_is_divisible_by_3(user_input)

enter any number 4
4 is not divisible by 3

In [77]:
#number is divisible by 5


def num_is_divisible_by_5(num):
    if num % 5 ==0:
        print(f"{num} is divisible by 5")
    else:
        print(f"{num} is not divisible by 5")
user_input = int(input("enter any number ")) 
num_is_divisible_by_5(user_input)

enter any number 42
42 is not divisible by 5

# write the program if the sum of three number is 100 and one number is above 36 then find to get the another two number in python

In [1]:

sum_of_numbers = 100
num1 = int(input("Enter a number greater than 36: "))

# Check if the entered number is greater than 36
if num1 <= 36:
    print("The number should be greater than 36.")
else:
    # Calculate the sum of the remaining two numbers
    remaining_sum = sum_of_numbers - num1

    # For simplicity, let's assume the two remaining numbers can be equal or close
    # Divide the remaining sum by 2 to find two approximate equal numbers
    num2 = remaining_sum // 2
    num3 = remaining_sum - num2

    # Output the results
    print(f"The three numbers are: {num1}, {num2}, and {num3}")
    print(f"Their sum is: {num1 + num2 + num3}")

Enter a number greater than 36: 37
The three numbers are: 37, 31, and 32
Their sum is: 100

# Pyramid pattern

In [ ]:
rows = int(input("Enter the number of rows: "))

# Pyramid pattern
for i in range(rows):
    print(' ' * (rows - i - 1), end='')
    print('*' * (2 * i + 1))

# Right-Angle Triangle

In [ ]:
rows = int(input("Enter the number of rows: "))

# Right-angle triangle pattern
for i in range(1, rows + 1):
    print('*' * i)

# print a table of a user input number in the form of LIST using forloop

In [4]:
number = int(input("enter a number :"))
table = []

for i in range(1, 11):
    table.append(number * i)

print(table)

enter a number :2
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# factorial of a number

In [6]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
result = factorial(4)
print(result)

24

In [7]:
# Input from the user
num = int(input("Enter a non-negative integer: "))

# Initialize the factorial result
factorial = 1

# Compute factorial using a loop
for i in range(1, num + 1):
    factorial *= i

# Print the result
print(f"The factorial of {num} is {factorial}.")

Enter a non-negative integer: 5
The factorial of 5 is 120.

In [ ]:
# create a dataframe from the data given below dictionary 

'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']

In [8]:
import pandas as pd
data={
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df=pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

# program to convert USD to INR

In [14]:
def converter(usd_val):
    inr_val =usd_val * 83
    print(usd_val, "USD =",inr_val,"INR")
converter(100)

100 USD = 8300 INR

In [ ]:
#sum of natural number

In [15]:
sum = 0
for n in range(1,9):
    sum += n
    print("Sum of natural number <= ", n , "is" ,sum)

Sum of natural number <=  1 is 1
Sum of natural number <=  2 is 3
Sum of natural number <=  3 is 6
Sum of natural number <=  4 is 10
Sum of natural number <=  5 is 15
Sum of natural number <=  6 is 21
Sum of natural number <=  7 is 28
Sum of natural number <=  8 is 36

In [16]:
num1=20
num2=30
sum=num1+num2
print("the sum of given  two number is",sum)

the sum of given  two number is 50

# find even num from 1 to 11

In [17]:
original_list =list(range(1,11))
even_num =[num for num in original_list if num % 2 ==0]
print("EVEN NUMBERS :" , even_num)

EVEN NUMBERS : [2, 4, 6, 8, 10]

# find odd num from 1 to 11

In [18]:
original_list = list(range(1,11))
odd_num =[num for num in original_list if num % 2 !=0]
print("ODD NUMBERS :" ,odd_num)

ODD NUMBERS : [1, 3, 5, 7, 9]

# create numpy array

In [19]:
import numpy as np  

my_list = [1, 2, 3, 4, 5]
my_array = np.array(my_list)

print("NumPy array:", my_array)

NumPy array: [1 2 3 4 5]

# lambda function

In [20]:
add = lambda x, y: x + y
print(add(5, 3))

8

# create a dataframe

In [21]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Dave'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3     Dave   40      Houston

# grading_SCORE

In [22]:
student_scores = {
  "Harry": 81,
  "Ron": 78,
  "Hermione": 99, 
  "Draco": 74,
  "Neville": 62,
}
# ðŸš¨ Don't change the code above ðŸ‘†

#TODO-1: Create an empty dictionary called student_grades.
student_grades={}

#TODO-2: Write your code below to add the grades to student_grades.ðŸ‘‡
for student in student_scores:
    score = student_scores[student]
    if score > 90:
        student_grades[student] = "Outstanding"
    elif score > 80:
         student_grades[student] = "Exceeds Expectations"
    elif score > 70:
         student_grades[student] = "Acceptable"
    else:
        student_grades[student] = "Fail"
    

# ðŸš¨ Don't change the code below ðŸ‘‡
print(student_grades)

{'Harry': 'Exceeds Expectations', 'Ron': 'Acceptable', 'Hermione': 'Outstanding', 'Draco': 'Acceptable', 'Neville': 'Fail'}

# highest_score

In [23]:
student_scores=[78,65,89,86,55,91,64,89]
highest_score=0
for score in student_scores:
    if score>highest_score:
        highest_score=score
print(f"The highest score in the class is:{highest_score}")

The highest score in the class is:91

# LEAP_YEAR

In [25]:
year=int(input("which year do you want to check?"))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Leap year.")
        else:
            print("Not leap year.")
    else:
            print("Leap year.")
else:
    print("Not leap year")

which year do you want to check?2000
Leap year.

# ("mini calculator")

In [29]:
num1 =int(input("enter any number: "))
num2 =int(input("enter any number: "))
print("press 1 for addition \n press 2 for substraction \n press 3 for multiplication \n press 4 for division")
choice = int(input("enter your choice from 1 to 4 :"))
if choice == 1:
    print(num1 + num2)
elif choice == 2:
    print(num1 - num2)
elif choice == 3:
    print(num1 * num2)
elif choice == 4:
    print(num1 / num2)
else:
    print("Invalid input")

enter any number: 4
enter any number: 5
press 1 for addition
 press 2 for substraction
 press 3 for multiplication
 press 4 for division
enter your choice from 1 to 4 :2
-1

# BMI CALCULATOR

In [34]:

height = input("enter your height in m: ")
weight = input("enter your weight in kg: ")
bmi= int(weight) / float(height) ** 2
bmi_as_int =int(bmi)
print(bmi_as_int)

enter your height in m: 1.68
enter your weight in kg: 50
17

# find odd even numbers

In [35]:
eve=[]
odd=[]
for i in list(range(51)):
    if i % 2 ==0:
        eve.append(i)
       
    else:
        odd.append(i)
print("eve",eve)
print("odd",odd)

eve [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
odd [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

# factorial of first 10 numbers

In [36]:
fact = 1
for x in range(1,11):
    fact=fact*x
    print(x,fact)

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800

# find odd_number from numbers from 1 to 10

In [37]:
# Original list containing numbers from 1 to 10
original_list = list(range(1, 11))

# Extracting only odd numbers using list comprehension
odd_numbers = [num for num in original_list if num % 2 != 0]

print("Odd numbers:", odd_numbers)

Odd numbers: [1, 3, 5, 7, 9]

# find even_number from numbers from 1 to 10

In [38]:
# Original list containing numbers from 1 to 10
original_list = list(range(1, 11))

# Extracting only even numbers using list comprehension
even_numbers = [num for num in original_list if num % 2 == 0]

print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

In [39]:
#create a dictionary

key = ['Apple','Banana','Cherry']
value =[20,25,30]
fruit_dict =dict(zip(key ,value))
fruit_dict

{'Apple': 20, 'Banana': 25, 'Cherry': 30}

# write a Python program that checks if a given number is divisible by both 2 and 4, but not by 6.

In [44]:
def is_divisible_by_2_and_4_not_6(n):
    return (n % 2 == 0) and (n % 4 == 0) and (n % 6 != 0)

# Input from the user
number = int(input("Enter a number: "))

# Check and print result
if is_divisible_by_2_and_4_not_6(number):
    print(f"The number {number} is divisible by both 2 and 4, but not by 6.")
else:
    print(f"The number {number} does not meet the criteria.")

Enter a number: 16
The number 16 is divisible by both 2 and 4, but not by 6.